body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

img {
    max-width: 100%;
}

.me {
    border-radius: 50%;
    border: 3px solid black;
}

nav {
    grid-area: nav;
    background-color: green;
    padding-right: 10px;
}

.navLinks {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
}

.navLinks a {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.mainNav a {
    text-decoration: none;
}

.myName {
    text-align: center;
    padding: 10px;
    margin-bottom: 40%;
    color: black;
}

main {
    grid-area: main;
    text-align: center;
    background-color: aqua;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
        'nav main'
}

span {
    font-size: 2rem;
    margin: 20px;
}
