@import "helper/variables";

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

nav {
    grid-area: nav;
    height: 100%;
    border-right: rgba(173, 173, 173, .7) 1px solid;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.myName {
    margin-top: 3rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 50%;
    color: black;
}

.navLinks {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin: auto;
    width: 45%;
    a {
        color: black;
        text-align: center;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background: $custom-blue;
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: .25s linear;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

.pageLink {
    margin: 10px auto;
    width: 100%;
    font-size: 1.3rem;
}

.currentPage {
    color: $custom-blue;
    font-weight: bold;
}

.pageHeader {
    margin: 3rem auto 0 auto;
}

main {
    grid-area: main;
    text-align: center;
    padding-bottom: 50px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: 
        'nav main';
    height: 100%;
}

footer {
    background-color: #efefef;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    height: 50px;
}

/* Index */
.me {
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 5rem;
}

.mySkills {
    width: 70%;
    margin: 5rem auto;
}

.skills {
    font-size: 2rem;
    margin: 20px;
}

/* About */
.aboutHeader {
    border-bottom: 1px lightgray solid;
    width: 30%;
    margin: 1.5rem auto 0.5rem auto;
    padding-bottom: 0.5rem;

}

.enjoyments {
    font-weight: bold;
    font-size: 1.5rem;
}

.hobbies {
    padding: 0;
}

.hobby {
    list-style: none;
}

.aboutMain {
    max-width: 70%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.2rem;
    p {
        margin-bottom: 0;
    }
}

/* Portfolio */
.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 0 5% 3% 5%;
    .project {
        transition: 0.5s;
        &:hover {
            background-color: $custom-blue;
            transition: 0.5s;
        }
        img {
            width: 300px;
            margin: 2rem auto;
        }
    }
}

/* Contact */
.contactWays {
    height: 70%;
}

.email {
    a {
        color: black;
        text-align: center;
        position: relative;
        text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            bottom: 0;
            left: 0;
            background-color: rgba($custom-blue, 0.3);
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: .25s linear;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
    span {
        visibility: hidden;
    }
}

.socialIcon {
    border-radius: 50%;
    margin: 10px 5px 0 5px;
    transition: .5s;
    border-radius: 50%;
    &:hover {
        background-color: rgba($custom-blue, 0.3);
        border-radius: 50%;
    }
}

