body {
    font-family: 'Open Sans', sans-serif;
    width: 97%; /* fix this */
}

img {
    max-width: 100%;
}

.me {
    border-radius: 50%;
    border: 3px solid black;
}

.mainNav ul {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
}

.mainNav a {
    text-decoration: none;
    color: black;;
}

.content {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
        'nav main'
}

nav {
    grid-area: nav;
    background-color: green;
}

main {
    grid-area: main;
    text-align: center;
    background-color: aqua;
}

/* Index */
span {
    font-size: 2rem;
    margin: 20px;
}
